#BelgradePlus .search-banner,
#BelgradePlus .search-button,
#BelgradePlus .time,
#BelgradePlus .video-name {
  position: absolute;
  z-index: 100;
  font-size: 44px;
  line-height: 44px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
#BelgradePlus .video-name {
  bottom: 30%;
  left: 0;
  min-height: 60px;
}
#BelgradePlus .search-banner {
  bottom: 16%;
  left: 0;
}
#BelgradePlus .search-term {
  color: #ffea00;
  text-transform: uppercase;
  font-weight: bold;
}
#BelgradePlus .search-button {
  bottom: 2%;
  left: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #eb431b;
  font-weight: normal;
  text-transform: uppercase;
}
#BelgradePlus .search-button:hover {
  color: #ff6a00;
}
#BelgradePlus .time {
  bottom: 11%;
  right: 10%;
  font-size: 84px;
  line-height: 64px;
  font-weight: bold;
}
