#BelgradePlus .search-banner,
#BelgradePlus .time,
#BelgradePlus .video-name {
  position: absolute;
  z-index: 100;
  font-size: 2.250em;
  line-height: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
#BelgradePlus .video-name {
  bottom: 30%;
  left: 0;
  min-height: 60px;
}
#BelgradePlus .search-banner {
  bottom: 16%;
  left: 0;
}
#BelgradePlus .search-term {
  color: #ffea00;
  text-transform: uppercase;
  font-weight: bold;
}
#BelgradePlus .search-button {
  position: absolute;
  bottom: 30px;
  left: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffea00;
  font-weight: normal;
  text-transform: uppercase;
}
#BelgradePlus .search-button:hover {
  color: #dd4800;
  font-weight: bold;
}
#BelgradePlus .time {
  bottom: 11%;
  right: 10%;
  font-size: 84px;
  line-height: 64px;
  font-weight: bold;
}
