.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#bgd-book {
  height: 100%;
  position: relative;
}
#bgd-book .video-pause-effect {
  -webkit-filter: grayscale(50%);
}
#bgd-book .bgd-book-video {
  position: absolute;
  opacity: 0.99;
  -webkit-backface-visibility: hidden;
}
#bgd-book .bgd-book-video > video,
#bgd-book .bgd-book-video > canvas {
  border: solid 8px white;
  -webkit-box-shadow: 2px 2px 5px #333333;
  -moz-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}
#bgd-book #infos,
#bgd-book #search-results,
#bgd-book #credits {
  position: absolute;
  font-size: 17px;
  z-index: 2000;
  perspective: 200px;
  /* W3C */

  -webkit-perspective: 200px;
  /* Safari & Chrome */

  -moz-perspective: 200px;
  /* Firefox */

  -ms-perspective: 200px;
  /* Internet Explorer */

  -o-perspective: 200px;
  /* Opera */

}
#bgd-book #infos {
  left: 33%;
  bottom: 3%;
  width: 35%;
  height: auto;
  z-index: 2010;
}
#bgd-book #credits {
  left: 50px;
  top: 2%;
  width: 41%;
  height: auto;
}
#bgd-book #search-results {
  right: 50px;
  top: 2%;
  width: 35%;
  height: 88%;
}
#bgd-book .infos {
  padding: 20px;
  background: black;
  color: white;
  border: solid 8px white;
  -webkit-box-shadow: 2px 2px 5px #333333;
  -moz-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}
#bgd-book .infos a {
  text-decoration: none;
  color: #ffa400;
}
#bgd-book .infos a:hover {
  color: #fff;
}
#bgd-book .infos h3.title {
  margin-top: 0;
}
#bgd-book-toggle {
  position: absolute;
  bottom: 5%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 36px;
  line-height: 46px;
}
