#history .loading {


  position: absolute;
  z-index: 100;
  font-size: 44px;
  line-height: 44px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  bottom: 5%;
  left: 0;

}

#history .loading .term {

  font-weight: bold;
  color: #d12b22;

}

.wiki-entry {
  color: #000;
  position: absolute !important;
  width: 30%;
  background: #fff;
  border: solid 2px #333;
  top: 10px;
  left: 0;
}

.wiki-entry-effects {

  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}

.wiki-entry h2 {
  margin: 10px 0;
}
.wiki-entry > header {
  width: 100%;
  padding: 10px;
  background: #272731;
  color: #dccfc8;
  border-bottom: #d12b22 solid 1px;
}

.wiki-entry.entry-read > header { 

  background: #4b4b5d;

}

.wiki-entry > section {
  display: none;
  position: relative;
  background: white;
  height: 400px;
  overflow: auto;
  padding: 20px 14px 0;
  word-wrap: break-word;
  overflow-x: hidden;
}

.wiki-entry .handle:hover {
  cursor: move;
}
.wiki-entry .btn-show-entry {
  cursor: pointer;
}
