#MadeInSerbia {
  background: rgba(0, 0, 0, 0.8);
}
#MadeInSerbia-video {
  width: 100%;
  height: 100%;
}
#MadeInSerbia-video .video {
  width: 100%;
  height: 100%;
}
#MadeInSerbia-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  font-size: 0;
}
#MadeInSerbia-controls > * {
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-size: 1.5rem !important;
  line-height: 1rem !important;
  vertical-align: middle;
}
#MadeInSerbia-controls > button {
  color: white;
}
#MadeInSerbia-controls > button:hover {
  background: rgba(0, 0, 0, 0.8);
}
