#MadeInSerbia {
  background: rgba(0, 0, 0, 0.8);
}
#MadeInSerbia-video {
  width: 100%;
  height: 100%;
}
#MadeInSerbia-video .video {
  width: 100%;
  height: 100%;
}
#MadeInSerbia-controls,
#MadeInSerbia-video-title {
  position: absolute;
  z-index: 100;
  font-size: 44px;
  line-height: 44px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
#MadeInSerbia-controls {
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
#MadeInSerbia-controls > button {
  font-size: 64px;
  line-height: auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
#MadeInSerbia-video-title {
  bottom: 10%;
  left: 0;
}
