#audiostream {

	position: absolute;
	top: 4px;
	right: 0px;
	z-index: 10;

}

#news-items {

	position: absolute;
	top: 0px;
	left: 0px;

	width: 50%;
	height: 97%;

	background: rgba(0, 0, 0, 0.3);
	padding: 20px 20px 0 20px;


}

#encounters {

	position: absolute;
	top: 0px;
	right: 0px;

	text-align: right;

	width: 50%;
	height: 97%;

	background: rgba(0, 0, 0, 0.3);
	padding: 20px 20px 0 20px;


}

#news-items ul,
#encounters ul {

	position: relative;
	height: 96%;
	overflow: hidden;

}

#news-items ul li,
#encounters ul li {

	position: absolute;
	list-style: none;
	display: none;

	font-size: 36px;

	width: 100%;

	text-align: justify;

}

#news-items ul li p {

	margin: 4px 0;

}

#audiostream button {

	float: right;
	height: 32px;

	margin-right: 4px;

}

#audiostream .infos {

	float: right;
	height: 32px;
	background: rgba(0,0,0,0.7);
	padding: 6px;
	text-align: right;
	margin-right: 4px;

}