#notebook {

	height: 100%;
	position: relative;

}

/** Entries **/

#notebook #entries {

	position: relative;
	float: left;
	background: black;
	opacity: 0.7;
	padding: 10px 10px 0 10px;
	width: 40%;
	text-align: left;

	height: 100%;
	overflow: auto;

}

#notebook #entries > div {

	position: relative;

}

#notebook #entries a {

	color: #ccb65c;
	text-decoration: none;

}

#notebook #entries h3 {

	margin: 5px;

}

#notebook #entries ul {

	margin: 20px;
	padding: 0;

}

#notebook #entries ul li {

	list-style: none;
	margin-bottom: 10px;

}

/** Calendar **/

#notebook #calendar {
	
	float: right;
	width: 55%;
	text-align: left;

	margin-top: 20px;

}

#notebook #calendar ul {

	margin: 0;
	padding: 0;

}

#notebook #calendar ul li {

	list-style: none;
	display: inline-block;

	margin: 5px 5px 5px 0px;

	font-size: 20px;
	width: 7%;
	text-align: center;

}

#notebook #calendar ul li a {
	color: inherit;
	text-decoration: none;
}


#notebook #calendar ul li.important {
	color: #ccb65c;
	font-weight: bold;
}

/** Video **/

#notebook #notebook-video {

	position: absolute;
	bottom: 18%;
	right: 50px;
	background: rgba(0,0,0,0.1);

	width: 50%;
	height: 50%;
	
}

#notebook #notebook-video video {
	background: #000;
}

