#notebook {

	height: 100%;
	position: relative;

}

#notebook #entries {

	position: relative;
	float: left;
	background: black;
	padding: 10px;
	width: 50%;
	text-align: left;

	height: 100%;
	overflow: auto;

}

#notebook #entries > div {

	position: relative;

}

#notebook #entries a {

	color: #E6D305;
	text-decoration: none;

}

#notebook #entries h3 {

	margin: 5px;

}

#notebook #calendar {
	
	float: right;
	width: 20%;
	text-align: left;

}

#notebook #calendar ul li {

	list-style: none;
	display: inline-block;
	margin: 5px;

}

#notebook #calendar ul li a {
	color: inherit;
	text-decoration: none;
}