@import "../../../bootstrap/less/bootstrap.less";
//@import "h5bp.css";

// Sprite icons path
// -------------------------
@iconSpritePath:          "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);

.video-pause-effect {-webkit-filter: blur(6px) grayscale(40%) contrast(110%);}
.no-filter {-webkit-filter: none;}

html * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {

	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	padding: 0;

}

body {

	display: table-cell;
	width: 100%;
	vertical-align: middle;
	margin: 0;
	background: #000;
	overflow: hidden;

	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1.1px;
	font-weight: 300;
	//font-family: 'Open Sans', sans-serif;
}

input,
button,
select,
textarea {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	margin: 0;
}

// override bootstrap img max width to avoid problems in some places
// will target more precisely if necessary
img {
	max-width: none;
}

#global-mute {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#main {
	position: relative;
	width: 100%;
	height: 90%;
	margin: auto;
}

#main-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	overflow: hidden;
}

#module-container {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;

	color: white;
	
}

.video .overlay {

    background: black;
    opacity: 0.3;
    display: table;

	.text {

	font-size: 34px;
	line-height: 44px;

    display: table-cell;
    vertical-align: middle;

    text-align: center;
    padding: 0 15%;
    color: white;
    text-shadow: #000 3px 3px 0.2em;

    text-transform: uppercase;

    	a {

    		color: #cdd6dd;

    		&:hover {

    			color: #dee7ee;
    			text-decoration: none
    		}

    	}

	    > p {

	    	margin-bottom: 60px;

	    }

	    .infos {

	    	font-size: 0.7em;
	    	line-height: 1.4em;

	    	font-style: italic; 

	    	.small {

				font-size: 0.5em;
		    	line-height: 1em;

	    	}

	    }

	    .chapter-title {

	    	position: relative;
	    	top: -100px;
	    	left: -100px;

	    	&.Notebook {

				top: -100px;
		    	left: 170px;

	    	}

	    	&.BgdBook {

				top: -60px;

	    	}

	    	&.Mail {

	    		top: 130px;
		    	left: -300px;

	    	}

	    	&.Tabloid {

	    		top: 330px;
		    	left: -400px;

	    	}

	    	&.News {

	    		top: -170px;
		    	left: 300px;

	    	}

	    	&.Tesla {


	    	}

	    	&.History {

	    		top: 40px;
		    	left: -180px;

	    	}

	    	&.BgdVoices {

	    		top: -120px;
		    	left: -260px;

	    	}

	    }

	}

}
