<p><strong>Mon corps ne fait pas d'ombre</strong></p>

<p class="infos">Un projet de <strong>Julien Fišera, Jérémie Scheidler et Thomas Mery</strong></p>

<p class="infos" style="margin-bottom: 10px">Vous pouvez vous rendre directement à un des chapitres suivants<br/>en cliquant sur un des liens ci-dessous :</p>

<ul class="chapters-menu">
       <li><a href="#BgdMap">1/ Belgrade Ville</a></li>
       <li><a href="#BgdBook">2/ Répéter Belgrade</a></li>
       <li><a href="#Notebook">3/ Carnet de notes</a></li>
       <li><a href="#BriefAnDenVater">4/ Très cher père</a></li>
       <li><a href="#BgdPlus">5/ Belgrade +</a></li>
       <li><a href="#BgdDirect">6/ Belgrade Direct</a></li>
       <li><a href="#Tesla">7/ Made in Serbia</a></li>
       <li><a href="#History">8/ Histoire serbe</a></li>
       <li><a href="#BgdVoices">9/ Voix de Belgrade</a></li>
</ul>
