<p><strong>Mon corps ne fait pas d'ombre</strong></p>

<p class="infos">Un projet de <strong>Julien Fišera, Jérémie Scheidler et Thomas Mery</strong></p>

<p class="infos" style="margin-bottom: 10px">Vous pouvez vous rendre directement à un des chapitres suivants<br/>en cliquant sur un des liens ci-dessous :</p>

<ul class="chapters-menu">

       <li><a href="#BelgradeVille">1/ Belgrade Ville</a></li>
       <li><a href="#RepeterBelgrade">2/ Répéter Belgrade</a></li>
       <li><a href="#CarnetDeNotes">3/ Carnet de notes</a></li>
       <li><a href="#TresCherPere">4/ Très cher père</a></li>
       <li><a href="#BelgradePlus">5/ Belgrade +</a></li>
       <li><a href="#BelgradeDirect">6/ Belgrade Direct</a></li>
       <li><a href="#MadeInSerbia">7/ Made in Serbia</a></li>
       <li><a href="#HistoireSerbe">8/ Histoire Serbe</a></li>
       <li><a href="#VoixDeBelgrade">9/ Voix de Belgrade</a></li>

</ul>
