<p><strong>Mon corps ne fait pas d'ombre</strong></p>

<p class="infos">Un projet de <br/><strong>Julien Fišera, Jérémie Scheidler et Thomas Mery</strong></p>

<p class="infos">
	Sur une idée de : <strong>Julien Fišera</strong><br/>
	Développement : <strong>Thomas Mery</strong><br/>
	Images : <strong>Jérémie Scheidler</strong>
</p>

<p class="infos">
	Musique : <strong>Thomas Mery & Jérôme Berg</strong><br/>
	avec dans le rôle de Baltasar : <strong>Vladislav Galard</strong><br/>
	et pour la "Lettre au père" : <strong>Grégoire Tachnakian</strong>
 </p>

 <p class="infos small">Un grand merci à : <em>Emilija Andrejevic - Branimir Pipal - Zivomir Popovic - Marin Marovic - Mirjana Slavkovic, Musée d'Histoire Yougoslave de Belgrade - Philippe Le Moine, Institut Français de Belgrade - Milica Zivadinovic, Centre Culturel de Serbie à Paris - Jasmina Nikolic - Sloga Press - Hôtel Cambrai - Alexandre Pallu - Chantal Rameau - Cécile Fišera - Caroline Guiela Nguyen - Victor Leclère - Philippe Dubois - Simone Guiela - Estelle Emma Monier</em>
 </p>